.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./background_search_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBarSortOptions ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBarSortOptions li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.25s;
  list-style: none;
}